<div class="container text-center m-0" style="max-width: 100%;">
    <div class="row">
        <div class="col-lg-6 col-md-12 border border-black">nav</div>
        <div class="col-lg-6 col-md-12 border border-black">button</div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 border border-black">sec 1</div>
        <div class="col-lg-6 col-md-12 border border-black">image 1</div>
    </div>
    <div class="row">
        <div class="col-12 border border-black">carrousel</div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 border border-black">image 2</div>
        <div class="col-lg-6 col-md-12 border border-black">sec 2</div>
    </div>
    <div class="row">
        <div class="col-12 border border-black">feature cards</div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 border border-black">author sec</div>
        <div class="col-lg-6 col-md-12 border border-black">image 3</div>
    </div>
    <div class="row">
        <div class="col-12 border border-black">footer</div>
    </div>
</div>