<main class="d-flex justify-content-center align-items-center vh-100 text-center">
    <div class="form-signin p-3 m-auto border rounded-4 border-3 border-success">
        <form #registroForm = "ngForm" (ngSubmit)="registrar(registroForm)">
            <img src="../../assets/logo-png.png" alt="Flow State Logo" class="mb-3">
            <h1 class="h3 mb-3 fw-normal">Crear Cuenta</h1>
            <div class="col-12">
                <input type="text" name="nombre" [(ngModel)]="nombre" class="form-control" id="nombres" placeholder="Nombres" required>
            </div>
            <div class="col-12">
                <input type="text" name="apellido" [(ngModel)]="apellido" class="form-control" id="apellidos" placeholder="Apellidos" required>
            </div>
            <div class="col-12">
                <input type="number" name="edad" [(ngModel)]="edad" class="form-control" id="edad" required placeholder="Edad">
            </div>
            <div class="col-12">
                <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend3">@</span>
                    <input type="email" #emailInput="ngModel" name="email" [(ngModel)]="email" class="form-control" id="validationServerUsername"
                        aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Correo Electronico">
                        <div *ngIf="emailInput.invalid" style="display: inline;" class="invalid-tooltip">
                            Por favor ingrese un Correo electronico valido.
                        </div>
                </div>
            </div>
            <div class="col-12">
                <div class="input-group has-validation">
                    <input type="password" #passwordInput="ngModel" name="password" [(ngModel)]="password" class="form-control" id="validationTooltipPassword" aria-describedby="validationTooltipPasswordPrepend" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*?&]{10,20}$" placeholder="Contraseña">
                    <div *ngIf="passwordInput.invalid" style="display: inline;" class="invalid-tooltip">
                        Contraseña debe tener entre 10 y 20 caracteres y debe incluir al menos 1 letra y 1 numero.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Crear Cuenta</button>
            </div>
            <p class="pt-2">
                Ya tienes una cuenta? Inicia Sesion
                <a href="/login">Aqui</a>
            </p>
            <p class="mt-5 mb-3 text-body-secondary">&copy; State Flow. <br> Developed by Jose Cabrera. All rights reserved.<br> Since 2024. </p>
        </form>
    </div>
</main>